---
import AppLayout from '@layouts/AppLayout.astro';
import HeroSection from '@components/home/HeroSection.astro';
import Lang from '@/models/Lang';
import Products from '@/components/Coffic/Products.vue';
import Members from '@/components/Coffic/Members.vue';
export interface Props {
  lang: Lang;
}
const { lang } = Astro.props;
const title = lang.isChinese() ? 'Coffic 工作室' : 'Coffic Lab';
const description = lang.isChinese()
  ? '精彩软件，有爱创造'
  : 'build wonderful softwares with love';
---

<AppLayout
  headings={[]}
  title={title}
  description={description}
  hidePageTitle={true}>
  <div>
    <HeroSection lang={lang} />

    <div class="container mx-auto flex flex-col gap-8">
      <Products lang={lang} />
      <Members lang={lang} />
    </div>
  </div>
</AppLayout>
