---
import type { SidebarItem } from '@/models/SidebarItem';
import SidebarLink from './SidebarLink.astro';
import SidebarGroupComponent from './SidebarGroup.astro';

interface Props {
  label: string;
  items: SidebarItem[];
}

const { label, items } = Astro.props;
---

<li>
  <details open>
    <summary>{label}</summary>
    <ul>
      {
        items.map((item) =>
          item.isNotGroup() ? (
            <SidebarLink label={item.getLabel()} link={item.getLink()} />
          ) : (
            <SidebarGroupComponent
              label={item.getLabel()}
              items={item.getItemsIncludingSelf()}
            />
          )
        )
      }
    </ul>
  </details>
</li>
